msvc_cmake_example/b_dll/buildtest/.ninja_deps
msvc_cmake_example/b_dll/buildtest/.ninja_log
msvc_cmake_example/b_dll/buildtest/build.ninja
msvc_cmake_example/b_dll/buildtest/cmake_install.cmake
msvc_cmake_example/b_dll/buildtest/CMakeCache.txt
msvc_cmake_example/b_dll/buildtest/install_manifest.txt
msvc_cmake_example/b_dll/buildtest/libb_dll.so
msvc_cmake_example/b_dll/buildtest/build_a_dll/cmake_install.cmake
msvc_cmake_example/b_dll/buildtest/build_a_dll/liba_dll.so
msvc_cmake_example/b_dll/buildtest/build_a_dll/CMakeFiles/a_dll.dir/a_dll.cpp.o
msvc_cmake_example/b_dll/buildtest/build_a_dll/CMakeFiles/a_dll.dir/dllmain.cpp.o
msvc_cmake_example/b_dll/buildtest/build_lib/install/liba_dll.so
msvc_cmake_example/b_dll/buildtest/build_lib/install/libb_dll.so
msvc_cmake_example/b_dll/buildtest/build_lib/install/include/b_dll.h
msvc_cmake_example/b_dll/buildtest/CMakeFiles/cmake.check_cache
msvc_cmake_example/b_dll/buildtest/CMakeFiles/CMakeOutput.log
msvc_cmake_example/b_dll/buildtest/CMakeFiles/rules.ninja
msvc_cmake_example/b_dll/buildtest/CMakeFiles/TargetDirectories.txt
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CMakeCCompiler.cmake
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CMakeSystem.cmake
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CompilerIdC/a.out
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CompilerIdCXX/a.out
msvc_cmake_example/b_dll/buildtest/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
msvc_cmake_example/b_dll/buildtest/CMakeFiles/b_dll.dir/b_dll.cpp.o
msvc_cmake_example/b_dll/buildtest/CMakeFiles/b_dll.dir/dllmain.cpp.o
